/* Sticky Header di dalam main-content  */
.sticky-header {
  background-color: var(--sidebar-bg);
  position: fixed;
  top: 0;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bold;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
  text-align: left;
  border-bottom: 1px solid var(--table-border-color);
}
