.chat-content {
  display: flex;
  flex-direction: column;
  width: 100%;

  align-items: center;
}
.chat-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.chat {
  overflow-x: auto;
}

pre {
  margin: 0;
}

.button-section {
  margin: 10px 0 0 0;
}

.chat-bubble {
  position: relative;
  background-color: #2a2a2a;
  color: #fff;
  padding: 20px;
  max-width: 70%;
  font-size: 14px;
  word-wrap: break-word;
  overflow-x: auto;
  text-align: left;
}

.odd-bubble {
  align-self: flex-start;
  background-color: var(--chat-response-bg);
  border-radius: 20px 20px 20px 5px;
  color: var(--text-color);
}

.even-bubble {
  align-self: flex-end;
  background-color: var(--chat-prompt-bg);
  border-radius: 20px 20px 5px 20px;
}

.odd-bubble .delete-btn,
.even-bubble .delete-btn {
  cursor: pointer;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  font-size: 12px;
}
