.textarea-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--input-bg);
  color: var(--text-color);
  border: 1px solid var(--table-border-color);
  border-radius: 16px;
  border: 1px solid var(--table-border-color);
  border-radius: 16px;
  padding: 20px;
  font-size: 14px;
  margin: 10px 0;
  transition: all 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}

#prompt,
#testCaseInput,
#bugReportInput {
  height: 250px;
}

::placeholder {
  font-style: italic;
}

textarea:focus {
  outline: none;
}

label {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  align-self: left;
  text-align: left;
  align-self: left;
}
