/* Default Light Mode */
:root {
  --primary-blue: #0078ff;
  --secondary-blue: #66b3ff;
  --bg-color: #ffffff;
  --text-color-primary: #6f7474;
  --text-color: #3a3c3d;
  --text-color-primary: #6f7474;
  --text-color: #3a3c3d;
  --secondary-text-color: #6b6b6b;
  --container-bg: #f9fbfc;
  --input-bg: #ffff;
  --btn-bg: #0074f3;
  --btn-hover-bg: #787af5;
  --secondary-btn-text: #6365ef;
  --secondary-btn-text-hover: #f5f5f5;
  --table-header-bg: #0074f3;
  --table-border-color: #eff1f3;
  --sidebar-bg: #ffffff;
  --sidebar-menu-hover: #eaf8fa;
  --sidebar-menu-active: #eaf8fa;
  --sidebar-text-active: #0171f5;
  --chat-prompt-bg: #0171f5;
  --chat-response-bg: #eaf8fa;
  --sidebar-menu-hover: #eaf8fa;
  --sidebar-menu-active: #eaf8fa;
  --sidebar-text-active: #0171f5;
  --chat-prompt-bg: #0171f5;
  --chat-response-bg: #eaf8fa;
  --badge-icon-bg: #fef7e2;
  --badge-icon: #f4a301;
  --btn-ai: linear-gradient(135deg, #3b82f6, #8b5cf6, #ec4899);

  --hover-btn-color: #e3e9ed;
}

/* Dark Mode */
.dark-mode {
  --bg-color: #24252a;
  --bg-color: #24252a;
  --text-color: #ffffff;
  --container-bg: #202226;
  --input-bg: #1e1f23;
  --btn-bg: #4845fe;
  --btn-hover-bg: #2c2d31;
  --table-header-bg: #4845fe;
  --table-border-color: #2c2d31;
  --secondary-btn-text: #f5f5f5;
  --secondary-btn-text-hover: #f5f5f5;
  --sidebar-bg: #24252a;
  --sidebar-text: #ffffff;
  --sidebar-menu-hover: #292b30;
  --sidebar-menu-active: #292b30;
  --sidebar-text-active: #0171f5;
  --sidebar-text-active: #0171f5;
  --sidebar-toogle: #ffffff;
  --sidebar-powered-by: #bbb;
  --chat-prompt-bg: #6365ef;
  --chat-response-bg: #292b30;
  --chat-response-bg: #292b30;
  --badge-icon-bg: #3a3a4d;
  --badge-icon: #f4a300;
  --secondary-text-color: #bbb;
  --btn-ai: linear-gradient(135deg, #3b82f6, #8b5cf6, #ec4899);

  --hover-btn-color: #e3e9ed;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
